<footer>
    <p>
        <a rel="author" href="/">
            {{ $baseurl:= .Site.BaseURL | urls.Parse }}
            {{ $baseurl.Host }}
        </a> ~
        <a href="/posts">posts</a> ~
        <a href="/feed.xml">rss</a>
    </p>
    <p>
        {{ $licenseLink :=  (default "https://creativecommons.org/licenses/by/4.0/" .Site.Params.license.link) }}
        {{ $license :=  (default "CC BY 4.0" .Site.Params.license.name) }}
        {{ $author := (default .Site.Author.name .Params.author.name) }}

        &copy; {{ .Lastmod.Format "2006" }} {{ $author }} <a href="{{ $licenseLink }}">{{ $license }}</a>
    </p>
</footer>
