{{ define "main" -}}
<div class="home p-contact contact h-card v-card" id="json">
  {{ $code := string (partial "homepage/homepage.json" .) }}
  {{ $code := $code | replaceRE "[\n]{2,}" "\n" }}
  {{ $code := $code | replaceRE ",\n( +(]|}))" "\n${1}" }}
  {{ $code := highlight $code "json" }}
  {{ $code := $code | replaceRE "\\[(.+)\\]\\((.*)\\)" `<a href="${2}">${1}</a>`}}
  {{ safeHTML $code }}
</div>

<div class="home p-contact contact h-card v-card" id="yaml">
  {{ $code := string (partial "homepage/homepage.yaml" .) }}
  {{ $code := $code | replaceRE `&#39;` "'"}}
  {{ $code := $code | replaceRE "/ignore\n" "" }}
  {{ $code := highlight $code "yaml"}}
  {{ $code := $code | replaceRE "\\[(.+)\\]\\((.*)\\)" `<a href="${2}">${1}</a>`}}
  {{ safeHTML $code }}
</div>

<div class="home p-contact contact h-card v-card" id="toml">
  {{ $code := string (partial "homepage/homepage.toml" .) }}
  {{ $code := $code | replaceRE `&#39;` "'"}}
  {{ $code := $code | replaceRE "/ignore\n" "" }}
  {{ $code := highlight $code "toml"}}
  {{ $code := $code | replaceRE "\\[(.+)\\]\\((.*)\\)" `<a href="${2}">${1}</a>`}}
  {{ safeHTML $code }}
</div>

<div class="home p-contact contact h-card v-card" id="racket">
  {{ $code := string (partial "homepage/homepage.scm" .) }}
  {{ $code := $code | replaceRE `&#39;` "'"}}
  {{ $code := $code | replaceRE "/ignore\n" "" }}
  {{ $code := $code | replaceRE "\\(\n +\\(" "((" }}
  {{ $code := $code | replaceRE "\\)\n\\)" "))" }}
  {{ $code := highlight $code "racket"}}
  {{ $code := $code | replaceRE "&#34;\\[(.+)\\]\\((.+)\\)&#34;" `<a href="${2}">"${1}"</a>`}}
  {{ safeHTML $code }}
</div>


<!-- Homepage Language Selection -->
<script>
  function displayLang(){
    var langs = ["json", "yaml", "toml", "racket"];
    langs.splice(Math.floor(Math.random() * langs.length), 1);

    langs.forEach(
      function (lang, _index, _array) {
        document.getElementById(lang).style.display = "none";
      }
    )
  }
</script>
{{- end }}
